 /* http://meyerweb.com/eric/tools/css/reset/ 
            v2.0 | 20110126
            License: none (public domain)
         */
 @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap");

 html,
 body,
 div,
 span,
 applet,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 abbr,
 acronym,
 address,
 big,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 s,
 samp,
 small,
 strike,
 strong,
 sub,
 sup,
 tt,
 var,
 b,
 u,
 i,
 center,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 embed,
 figure,
 figcaption,
 footer,
 header,
 hgroup,
 menu,
 nav,
 output,
 ruby,
 section,
 summary,
 time,
 mark,
 audio,
 video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }

 /* HTML5 display-role reset for older browsers */
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section {
   display: block;
 }

 body {
   line-height: 1;
 }

 ol,
 ul {
   list-style: none;
 }

 blockquote,
 q {
   quotes: none;
 }

 blockquote:before,
 blockquote:after,
 q:before,
 q:after {
   content: "";
   content: none;
 }

 table {
   border-collapse: collapse;
   border-spacing: 0;
 }

 button,
 button:active,
 button:focus {
   outline: none;
   border: none;
   cursor: pointer;
 }

 :root {
   --header-height: 64px;
 }

 * {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 body {
   color: #0a0a0a;
   font-family: "Inter", "Inter var", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
   font-size: 16px;
   font-weight: regular;
   line-height: 1.25;
   cursor: default;
 }

 p {
   font-size: 1rem;
   line-height: 1.25;
 }

 a {
   color: #1766a6;
   cursor: pointer;
 }

 strong,
 .bold {
   font-weight: 600;
 }

 .dimmed {
   opacity: 0.7;
 }

 .smaller {
   font-size: 80%;
 }

 .title-1-xs {
   font-weight: 600;
   font-size: 1rem;
 }

 .title-2-sm {
   font-weight: 600;
   font-size: 1.125rem;
 }

 .title-4-lg {
   font-weight: 700;
   font-size: 2rem;
   color: white;
   line-height: 1.1em;
 }

 @media screen and (max-width: 960px) {
   .header {
     padding: 0 1.5rem;
   }

   .title-4-lg {
     font-size: 1.5rem;
   }

 }

 @media screen and (max-width: 576px) {
   .title-4-lg {
     font-size: 2rem;
   }
 }

 #header-section {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   background-color: rgb(41, 41, 41);
   -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.06), 0 8px 16px rgba(0, 0, 0, 0.08);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.06), 0 8px 16px rgba(0, 0, 0, 0.08);
   height: var(--header-height);
   z-index: 9999;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
 }

 .header {
   padding-left: 2rem;
   padding-right: 2rem;
   height: -webkit-max-content;
   height: -moz-max-content;
   height: max-content;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   max-width: 100%;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   background: #0a0a0a;
   -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.08);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.08);
   height: var(--header-height);
   z-index: 9999;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
 }

 @media screen and (max-width: 768px) {
   .header {
     padding: 0 1rem;
   }
 }

 .header-start,
 .header-end {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
 }

 .header-start {
   -webkit-margin-end: 0.5rem;
   margin-inline-end: 0.5rem;
 }

 .header-start button {
   -webkit-margin-end: 0.5rem;
   margin-inline-end: 0.5rem;
 }



 .header-start .link {
   color: white;
   font-size: 1rem;
   font-weight: 600;
   -webkit-margin-end: 1rem;
   margin-inline-end: 1rem;
   -webkit-transition: color ease-in-out 0.25s;
   transition: color ease-in-out 0.25s;
 }

 .header-start .link:hover {
   color: green;
 }

 .header-end button {
   -webkit-margin-start: 0.5rem;
   margin-inline-start: 0.5rem;
 }

 .expand-button {
   display: none;
 }

 :root {
   --header-height: 64px;
 }

 body {
   --dd-space-1: 0.25rem;
   --dd-space-2: 0.5rem;
   --dd-space-3: 0.75rem;
 }

 .dropdown {
   position: relative;
 }

 [class*="custom-input"] {
   background: white;
   border-radius: 4px;
   border: 1px solid rgba(10, 10, 10, 0.4);
   -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.04);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.04);
   -webkit-transition: all ease-in-out 0.15s;
   transition: all ease-in-out 0.15s;
   height: 100%;
   max-width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding: var(--dd-space-2) var(--dd-space-3);
   position: relative;
   cursor: pointer;
 }

 [class*="custom-input"]:hover {
   border-color: #0a0a0a;
   -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
 }

 [class*="custom-input"]:active,
 [class*="custom-input"]:focus {
   border: 1px solid #0a0a0a;
   -webkit-box-shadow: 0 0 0 4px rgba(23, 102, 166, 0.25);
   box-shadow: 0 0 0 4px rgba(23, 102, 166, 0.25);
 }

 [class*="custom-input"] p {
   font-size: 0.875rem;
 }

 [class*="custom-input"] svg {
   min-width: 1.5rem;
   min-height: 1.5rem;
   fill-opacity: 0.5;
 }

 [class*="custom-input"]:hover svg {
   fill-opacity: 1;
 }

 [class*="dropdown-content"] {
   background: rgb(41, 41, 41);
   border-radius: 4px;
   border: 1px solid rgba(10, 10, 10, 0.4);
   -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.04);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.04);
   -webkit-transition: all ease-in-out 0.15s;
   transition: all ease-in-out 0.15s;
   display: none;
   font-family: "Inter", "Inter var", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
   font-size: 0.875rem;
   padding: var(--dd-space-2);
   position: absolute;
   min-width: -webkit-max-content;
   min-width: -moz-max-content;
   min-width: max-content;
   top: calc(100% + var(--dd-space-1));
   max-height: calc(var(--dd-space-3) * 18);
   overflow-y: scroll;
   overflow-x: hidden;
   z-index: 999;
 }

 [class*="dropdown-content"]:hover {
   border-color: #0a0a0a;
   -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
 }

 [class*="dropdown-content"]:active,
 [class*="dropdown-content"]:focus {
   border: 1px solid #0a0a0a;
   -webkit-box-shadow: 0 0 0 4px rgba(23, 102, 166, 0.25);
   box-shadow: 0 0 0 4px rgba(23, 102, 166, 0.25);
 }

 [class*="dropdown-content"] hr {
   margin: var(--dd-space-2) auto;
 }

 [class*="dropdown-content"] ul {
   list-style: none;
   margin: 0;
   margin-top: 6px;
 }

 [class*="dropdown-content"] p {
   padding: var(--dd-space-2);
 }

 [class*="dropdown-content"] li {
   line-height: 1.5rem;
   background-color: rgba(20, 20, 20);
   color: #ffffff;
   opacity: 0.9;
   border-radius: 4px;
   padding: var(--dd-space-2) var(--dd-space-3);
   cursor: pointer;
   -webkit-transition: background-color ease-in-out 0.25s;
   transition: background-color ease-in-out 0.25s;
   margin-bottom: var(--dd-space-1);
 }

 [class*="dropdown-content"] li:last-child {
   margin-bottom: 0;
 }

 [class*="dropdown-content"] li:hover {
   background-color: rgba(5, 5, 5, 0.25);
   opacity: 1;
 }

 [class*="dropdown-content"] li span {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
 }

 [class*="dropdown-content"] svg {
   -webkit-margin-end: var(--dd-space-3);
   margin-inline-end: var(--dd-space-3);
   fill-opacity: 0.8;
   -webkit-transition: fill-opacity ease-in-out 0.25s;
   transition: fill-opacity ease-in-out 0.25s;
 }

 [class*="dropdown-content"] svg:hover {
   fill-opacity: 1;
 }

 [class*="dropdown-content"] .active-dropdown-item {
   background-color: #0a0a0a;
   color: white;
 }

 .dropdown-content-end {
   right: 0;
 }

 .dropdown-content-fit {
   min-width: unset;
   left: 0;
   right: 0;
 }

 :root {
   --header-height: 64px;
 }

 .show {
   display: inline-block !important;
 }

 .hide {
   display: none !important;
 }

 .shown-on-mobile {
   display: none !important;
 }

 @media screen and (max-width: 960px) {
   .hidden-on-mobile {
     display: none !important;
   }

   .hidden-on-web {
     display: none !important;
   }

 }

 @media screen and (min-width: 960px) {
   .shown-on-mobile {
     display: none !important;
   }

   .shown-on-web {
     display: none !important;
   }
 }

 hr {
   border: 0;
   border-top: 1px solid rgba(10, 10, 10, 0.25);
   width: 100%;
   margin: 0;
 }

 button {
   position: relative;
 }

 .comonBtn {
   color: white;
   background: #0a0a0a;
   border-radius: 4px;
   -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.06), 0 8px 16px rgba(0, 0, 0, 0.08);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.06), 0 8px 16px rgba(0, 0, 0, 0.08);
   height: 3rem;
   font-size: 1rem;
   font-weight: 600;
   padding: 1em;
   -webkit-transition: all ease-in-out 0.35s;
   transition: all ease-in-out 0.35s;
 }

 .comonBtn:hover {
   -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.16);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.16);
   -webkit-transform: translateY(-1px);
   transform: translateY(-1px);
 }

 .regular-button {
   background: white;
   border-radius: 4px;
   border: 1px solid rgba(10, 10, 10, 0.4);
   -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.04);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.04);
   -webkit-transition: all ease-in-out 0.15s;
   transition: all ease-in-out 0.15s;
   font-size: 0.875rem;
   font-weight: 600;
   height: 2.5rem;
   color: #0a0a0a;
   padding: 0 4rem;
   -ms-flex-item-align: center;
   -ms-grid-row-align: center;
   align-self: center;
 }

 .regular-button:hover {
   border-color: #0a0a0a;
   -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
 }

 .regular-button:active,
 .regular-button:focus {
   border: 1px solid #0a0a0a;
   -webkit-box-shadow: 0 0 0 4px rgba(23, 102, 166, 0.25);
   box-shadow: 0 0 0 4px rgba(23, 102, 166, 0.25);
 }

 .button-weak {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   font-size: 0.875rem;
   background: rgb(26, 26, 26);
   border-radius: 4px;
   height: 2.5rem;
   color: #ffffff;
   opacity: 0.9;
   padding: 0 1em;
   -ms-flex-item-align: center;
   align-self: center;
   -webkit-transition: background ease-in-out 0.25s;
   transition: background ease-in-out 0.25s;
 }

 .button-weak svg {
   fill: #ffffff;
   fill-opacity: 0.6;
   -webkit-transition: fill-opacity ease-in-out 0.25s;
   transition: fill-opacity ease-in-out 0.25s;
 }

 .button-weak svg:hover {
   fill-opacity: 1;
 }

 .button-weak:hover {
   background: rgba(5, 5, 5, 0.25);
   opacity: 1;
 }

 .button-weak .start-icon {
   -webkit-margin-end: 0.25em;
   margin-inline-end: 0.25em;
 }

 .button-weak .end-icon {
   -webkit-margin-start: 0.25em;
   margin-inline-start: 0.25em;
 }

 .button-icon {
   padding: 0 0.5rem;
 }

 .button-icon svg {
   fill: #ffffff;
   fill-opacity: 0.8;
   -webkit-transition: fill-opacity ease-in-out 0.25s;
   transition: fill-opacity ease-in-out 0.25s;
 }

 .button-icon svg:hover {
   fill-opacity: 1;
 }

 :root {
   --header-height: 64px;
 }

 .hidden-on-web {
   display: flex;
 }

 #launcher {
   display: none;
 }

 /*# sourceMappingURL=style.css.map */