.credit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  background: rgb(26, 26, 26);
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  height: 80px;
}

.credit button {
  background: #41ae5f;
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.16px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.credit div {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: normal;
  height: 28px;
  letter-spacing: 0.16px;
  line-height: 28px;
  width: 109px;
  padding-left: 15px;
  padding-top: 5px;
}

.credit img {
  padding-top: 13px;
  padding-right: 17px;
  height: 65px;
  width: 80px;
}

.balance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  background: rgb(26, 26, 26);
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  height: 80px;
}

.balance div {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: normal;
  height: 28px;
  letter-spacing: 0.16px;
  line-height: 28px;
  width: 109px;
  padding-left: 15px;
  padding-top: 5px;
}

.balance img {
  padding-top: 15px;
  padding-right: 30px;
  height: 60px;
  width: 70px;
}