@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("./Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    src: url("./Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url("./Montserrat-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 600;
    src: url("./Montserrat-MediumItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    src: url("./Montserrat-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 900;
    src: url("./Montserrat-BlackItalic.ttf") format("truetype");
}
